<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <!-- <img data-bind="attr: { src: logoUrl }" alt="LeanX Logo" style="max-height: 20px; margin-right: 10px;" /> -->
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>

        <div data-bind="visible: (getCode() == isChecked())" style="text-align: center; margin-top: 10px;">
            <img data-bind="attr: { src: require.toUrl('LeanX_Payments/images/leanx.png') }"
                 alt="LeanX Logo"
                 style="max-height: 40px; margin-bottom: 10px;" />
            <p style="font-size: 14px; color: #555;">
                You will be redirected to LeanX Payment Gateway to complete your transaction.
            </p>
        </div>
    </div>
    <div class="payment-method-content">
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>