<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Payment Methods</label>
            <group id="leanx" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>LeanX Payment Gateway</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <comment>Enter payment method title your customers are going to see.</comment>
                </field>
                <field id="is_sandbox" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Sandbox Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable this option to use the sandbox environment for testing.</comment>
                </field>
                <field id="auth_token" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auth Token</label>
                    <comment>Enter your LeanX Auth Token</comment>
                </field>
                <field id="hash_key" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hash Key</label>
                    <comment>Enter your LeanX Hash Key</comment>
                </field>
                <field id="collection_uuid" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Collection UUID</label>
                    <comment>Enter your LeanX Collection UUID</comment>
                </field>
                <field id="bill_invoice_id" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bill Invoice ID</label>
                    <comment>Enter your LeanX Bill Invoice ID</comment>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <comment>Lower numbers appear first in the payment list.</comment>
                    <validate>validate-number</validate>
                </field>
                <field id="pending_order_timeout" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pending Order Timeout (Minutes)</label>
                    <comment>Set how long orders should remain in pending payment before being auto-canceled. Default value set at 60 minutes.</comment>
                </field>
            </group>
        </section>
    </system>
</config>